<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tomato.App</title>
</head>
<style type="text/css">
  body {
    border: 1px solid <%=randomColor%>;
    border-radius: 3px;
    padding: 2em;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translatex(-50%);
  }
  footer {
    text-align: center;
    margin-top: 2em;
  }
  a {
    text-decoration: none;
    color: tomato;
  }
  a:hover {
    color: red;
  }
  div {
    margin-top: .5rem;
  }
</style>
<body>
  <h1><a href="/">Tomato.App</a></h1>




