<div>
  <% if( !locals.user ) { %>
  <form method="POST" action="/login">
    <div>Login</div>
    <input type="email" name="email" placeholder="email" autocomplete="off">
    <input type="password" name="password" placeholder="password" autocomplete="off">
    <button type="submit">Login</button>
  </form>
  <div>
    Not a user?  <a href="/register">Register</a>
  </div>
  <% } else { %>
    <div>Loged in as : <%=user.email%></div>
    <div>
      <form method="POST" action="/logout">
        <input type="submit" name="logout" value="Logout">
      </form>
    </div>
  <% } %>
</div>