<% include ./partials/_header %>

    <ul>
      <% for( url in urls ) {%>
      <li>
        <a href="/urls/<%=url%>"><%= urls[url] %></a>
        <form method="POST" action="/urls/<%= url %>/delete">
          <button name="delete-url" value="submit">Delete</button>
        </form>
      </li>
      <% }%>
    </ul>

    <div><a href="/urls/new">Add New URL</a></div>


</body>
</html>